openapi: 3.2.0
info:
  title: LilyApp API - Nest Based Application Faqs API
  description: Lily App Middleware
  version: '1.0'
  contact: {}
servers:
- url: https://lilyapp-api-prd.pub.lilyai.net
  description: Production (LilyApp-Api-Prod-AWS)
- url: https://lilyapp-api-stg.pub.lilyai.net
  description: Staging
tags:
- name: Faqs
paths:
  /faqs/{skuId}:
    get:
      operationId: FaqProxyController_proxy_get
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    post:
      operationId: FaqProxyController_proxy_post
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    put:
      operationId: FaqProxyController_proxy_put
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    delete:
      operationId: FaqProxyController_proxy_delete
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    patch:
      operationId: FaqProxyController_proxy_patch
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    options:
      operationId: FaqProxyController_proxy_options
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
    head:
      operationId: FaqProxyController_proxy_head
      parameters:
      - name: skuId
        required: true
        in: path
        description: SKU ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Faqs
components:
  securitySchemes:
    JWT:
      scheme: bearer
      bearerFormat: JWT
      type: http
      in: header
