openapi: 3.2.0
info:
  title: LilyApp API - Nest Based Application Pi Api Proxy API
  description: Lily App Middleware
  version: '1.0'
  contact: {}
servers:
- url: https://lilyapp-api-prd.pub.lilyai.net
  description: Production (LilyApp-Api-Prod-AWS)
- url: https://lilyapp-api-stg.pub.lilyai.net
  description: Staging
tags:
- name: Pi Api Proxy
paths:
  /pi-api-proxy/*:
    get:
      operationId: PiApiProxyController_proxy_get
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    post:
      operationId: PiApiProxyController_proxy_post
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    put:
      operationId: PiApiProxyController_proxy_put
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    delete:
      operationId: PiApiProxyController_proxy_delete
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    patch:
      operationId: PiApiProxyController_proxy_patch
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    options:
      operationId: PiApiProxyController_proxy_options
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
    head:
      operationId: PiApiProxyController_proxy_head
      parameters:
      - name: subsidiary-id
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - JWT: []
      tags:
      - Pi Api Proxy
components:
  securitySchemes:
    JWT:
      scheme: bearer
      bearerFormat: JWT
      type: http
      in: header
